*.pyc
/Exercicios/__pycache__/*.pyc
/EliminacaoGaussiana/__pycache__/*.pyc
/EliminacaoGaussiana/__pycache__/*.pyc
/Exercicios/__pycache__/*.pyc
/EliminacaoGaussiana/__pycache__/*.pyc
Exercicios/__pycache__/Exercicio2.cpython-310.pyc
